*{
    margin: 0px;
    resize: none    ;
}

.topcont{
    display: flex;
    
}


.menu-bar{
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    background-color: #FFA740;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;

}

.foodpics{
    position: relative;
    left: 25px;

}

.selection {

    position: relative;
    left: 50vh;
    top: 23vh;
    padding: 15px;
    justify-content: space-evenly;
    display: flex;
    float: right;
    resize: none;
    
}

.buttonss{
    padding: 35px 155px;
    margin: 5px;
    border: 1px solid whitesmoke;
    background-color: #FFA740;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(black );
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

    
}

.buttonss:active{

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);  
    text-decoration: underline;
}

.price{
    text-align: center;
}

.btn{
    appearance: none;
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 20px;
    min-width: 0;
    outline: none;
    padding: 12px 20px;
    text-align: center; 
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;

}

.btn:disabled {
    pointer-events: none;
  }
  
  .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .btn:active {
    box-shadow: none;
    transform: translateY(0);
  }

.totalbar{
    background-color:  #FFA740 ;
    width: 15vw;
    left: 120vh;
    border: 1px solid black;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    overflow-y: scroll;
    flex-direction: column-reverse;
    box-shadow: 1px black;

}

.pay{
    position: relative;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    outline: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.pay:disabled {
    pointer-events: none;
  }
  
  .pay:active {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .pay:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .plogo{
    position: relative;
    bottom: 35px;
  }

.row1{
    padding: 15px;
}

.row2{
    padding: 15px;
}

.row3{
    padding: 15px;
    position: relative;
    top: 50vh;
    right: 42vh;
}

.row4{
    padding: 15px;
    position: relative;
    top: 50vh;
    right: 42vh;
}

.row5{
    padding: 15px;
    position: relative;
    top: 100vh;
    right: 85vh;
}


.m1{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15%;
    background-color: #FFA740;
}

.m2{
    border: 1px solid black;
    padding: 20px;
    border-radius: 15%;
    background-color: #FFA740;
}

.m3{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15%;
    background-color: #FFA740;
}

.m4{
    border: 1px solid black;
    padding: 20px;
    border-radius: 15%;
    background-color: #FFA740;
}

.m5{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15%;
    background-color: #FFA740;
}

.m6{
    border: 1px solid black;
    padding: 20px;
    border-radius: 15%;
    background-color: #FFA740;
}

.m7{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15%;
    background-color: #FFA740;
}

.m8{
    border: 1px solid black;
    padding: 20px;
    border-radius: 15%;
    background-color: #FFA740;
}

.m9{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15%;
    background-color: #FFA740;
}

.m10{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15%;
    background-color: #FFA740;
}
